html,
body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.logo {
  width: 35%;
  z-index: -1;
  margin: 0px 0px -570px 250px;
}

.titulo {
  font-family: trajan;
  text-align: center;
  margin-top: 250px;
  font-size: 80px;
  position: static;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.menu a {
  color: white;
  text-decoration: none;
  font-family: bebasneue;
  align-self: center;
  border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.menu2 {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 250px;
}

.meteoro {
  width: 180px;
  margin-bottom: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(320deg);
}

.fundo {
  position: absolute;
  left: 0px;
  top: 1200px;
  z-index: -1;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  filter: blur(3px);
}

.subtitulo {
  text-align: center;
  font-size: 60px;
  padding: 100px 100px 200px 100px;
  align-items: center;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px;
  max-width: 100%;
}

.boxes,
.subtitulo {
  font-family: trajan;
  margin: 0px;
}

.box1 {
  display: grid;
  padding: 0px 10px 0px 10px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.box1 h1 {
  font-size: 30px;
}

.box1 h2 {
  font-size: 16px;
  text-transform: lowercase;
}

.resumo {
  padding: 80px;
  background-color: white;
  font-family: trajan;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.espada {
  display: block;
  margin: 0 auto 70px auto;
}

.rodape {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(36, 36, 36);
  text-align: center;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 11px;
  box-sizing: border-box;
}

.rodape h1 {
  font-family: trajan;
}

.personagens {
  text-align: center;
  font-family: trajan;
  padding: 0px 70px 20px 70px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0px 400px 30px 400px;
  border-radius: 20px;
}

.personagens h1 {
  margin-top: 20px;
  padding-top: 20px;
}

#inicio {
  font-family: trajan;
  font-size: 25px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
}

/*mundo*/
.image-container {
  position: relative;
  z-index: -1;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  margin-top: -60px;
}

.image-container img.active {
  opacity: 1;
}

.paisagem img {
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.paisagem h1 {
  color: rgb(255, 255, 255);
  font-family: trajan;
  font-size: 4.5vw;
  padding: 20% 0px 0px 3%;
}

.paisagem p {
  color: rgb(255, 255, 255);
  font-family: bebasneue;
  font-size: 20px;
  margin-top: -70px;
  padding: 50px;
}

.texto {
  font-family: trajan;
  font-size: 23px;
  text-align: start;
  padding: 20px;
  margin-top: 260px;
}

.texto2 {
  font-family: trajan;
  font-size: 23px;
  text-align: end;
  padding: 20px;
}

.texto img {
  width: 50%;
  float: left;
  shape-outside: circle(50%);
  margin-left: -20px;
  padding-right: 100px;
}

.texto2 img {
  width: 25%;
  float: right;
  shape-outside: circle(50%);
  border-radius: 50%;
  padding-left: 100px;
}

/*mundo-fim*/

/* cartas*/
.flex {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 270px;
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px 1fr auto;
  box-shadow: 0 15px 30px -10px;
  cursor: pointer;
  border-radius: 18px;
  border-radius: 18px;
}

.card-body,
.card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

.card-body h2 {
  font-family: trajan;
  font-weight: bolder;
  margin: -5px 0px -5px 0px;
}

.card-footer {
  background-color: rgb(94, 94, 94);
  padding: 0px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  font-family: trajan;
  font-weight: bold;
}

.card-image {
  position: relative;
  background-color: rgb(94, 94, 94);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.4s;
}

.card:hover .card-image img {
  transform: scale(1.3);
}

.card:hover {
  box-shadow: 4px 4px 25px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.selector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.card:hover .selector {
  opacity: 1;
}

.selector button {
  background-color: rgb(94, 94, 94);
  color: #fff;
  outline: none;
  border: 2px solid currentColor;
  cursor: pointer;
  padding: 12px 20px;
  transform: translateY(60px);
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.selector button:hover {
  opacity: 0.8;
}
/* cartas fim*/

/*itens*/

.flex2 {
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: background 0.4s ease-in;
  margin-bottom: 130px;
}

input[type="radio"] {
  display: none;
}

.item {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.itens {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inventário {
  position: relative;
  width: 100%;
  height: 100%;
  margin: -0px 0px 300px 15%;
}

.inventário img {
  width: 80%;
  border-radius: 10px;
  object-fit: cover;
}

#item1:checked ~ .inventário #song-3,
#item2:checked ~ .inventário #song-1,
#item3:checked ~ .inventário #song-2 {
  transform: translateX(-70%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item1:checked ~ .inventário #song-2,
#item2:checked ~ .inventário #song-3,
#item3:checked ~ .inventário #song-1 {
  transform: translateX(70%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item1:checked ~ .inventário #song-1,
#item2:checked ~ .inventário #song-2,
#item3:checked ~ .inventário #song-3 {
  transform: translateX(0%) scale(1);
  opacity: 1;
  z-index: 1;
}

.alastor {
  width: 100%;
  height: 60vh;
  background: linear-gradient(
    to right,
    rgb(119, 119, 119) 0%,
    rgb(119, 119, 119) 66.58%,
    rgb(224, 224, 224) 50%,
    rgb(224, 224, 224) 100%
  );
}

.alastor h1 {
  color: white;
  font-size: 100px;
  margin: 18% 0px 0px 10%;
  font-family: bebasneue;
  letter-spacing: 10px;
  text-shadow: 26px 22px 0px #575757;
}

.alastor h3 {
  color: white;
  font-size: 12px;
  width: 44%;
  margin: 0px 0px 0px 10%;
  font-family: "Montserrat", sans-serif;
}

.alastor img {
  float: right;
  margin-top: -24%;
  margin-right: 9%;
  width: 43%;
}

.morte {
  width: 100%;
  height: 60vh;
  background: linear-gradient(
    to right,
    rgb(119, 119, 119) 0%,
    rgb(119, 119, 119) 66.58%,
    rgb(224, 224, 224) 50%,
    rgb(224, 224, 224) 100%
  );
}

.morte h1 {
  color: white;
  font-size: 100px;
  margin: 18% 0px 0px 10%;
  font-family: bebasneue;
  letter-spacing: 10px;
  text-shadow: 26px 22px 0px #3f0d4d;
}

.morte h3 {
  color: white;
  font-size: 12px;
  width: 44%;
  margin: 0px 0px 0px 10%;
  font-family: "Montserrat", sans-serif;
}

.morte img {
  float: right;
  margin-top: -24%;
  margin-right: 9%;
  width: 43%;
}

.maxim {
  width: 100%;
  height: 60vh;
  background: linear-gradient(
    to right,
    rgb(119, 119, 119) 0%,
    rgb(119, 119, 119) 66.58%,
    rgb(224, 224, 224) 50%,
    rgb(224, 224, 224) 100%
  );
}

.maxim h1 {
  color: white;
  font-size: 100px;
  margin: 18% 0px 0px 10%;
  font-family: bebasneue;
  letter-spacing: 10px;
  text-shadow: 26px 22px 0px #61600d;
}

.maxim h3 {
  color: white;
  font-size: 12px;
  width: 44%;
  margin: 0px 0px 0px 10%;
  font-family: "Montserrat", sans-serif;
}

.maxim img {
  float: right;
  margin-top: -24%;
  margin-right: 9%;
  width: 43%;
}

.luto {
  width: 100%;
  height: 60vh;
  background: linear-gradient(
    to right,
    rgb(119, 119, 119) 0%,
    rgb(119, 119, 119) 66.58%,
    rgb(224, 224, 224) 50%,
    rgb(224, 224, 224) 100%
  );
}

.luto h1 {
  color: white;
  font-size: 100px;
  margin: 18% 0px 0px 10%;
  font-family: bebasneue;
  letter-spacing: 10px;
  text-shadow: 26px 22px 0px #490d49;
}

.luto h3 {
  color: white;
  font-size: 12px;
  width: 44%;
  margin: 0px 0px 0px 10%;
  font-family: "Montserrat", sans-serif;
}

.luto img {
  float: right;
  margin-top: -24%;
  margin-right: 9%;
  width: 43%;
}

.lis {
  width: 100%;
  height: 60vh;
  background: linear-gradient(
    to right,
    rgb(119, 119, 119) 0%,
    rgb(119, 119, 119) 66.58%,
    rgb(224, 224, 224) 50%,
    rgb(224, 224, 224) 100%
  );
}

.lis h1 {
  color: white;
  font-size: 100px;
  margin: 18% 0px 0px 10%;
  font-family: bebasneue;
  letter-spacing: 10px;
  text-shadow: 26px 22px 0px #834a79;
}

.lis h3 {
  color: white;
  font-size: 12px;
  width: 44%;
  margin: 0px 0px 0px 10%;
  font-family: "Montserrat", sans-serif;
}

.lis img {
  float: right;
  margin-top: -24%;
  margin-right: 9%;
  width: 43%;
}

.dragão {
  width: 100%;
  height: 60vh;
  background: linear-gradient(
    to right,
    rgb(119, 119, 119) 0%,
    rgb(119, 119, 119) 66.58%,
    rgb(224, 224, 224) 50%,
    rgb(224, 224, 224) 100%
  );
}

.dragão h1 {
  color: white;
  font-size: 80px;
  margin: 18% 0px 0px 10%;
  font-family: bebasneue;
  letter-spacing: 10px;
  text-shadow: 26px 22px 0px #1c4d12;
}

.dragão h3 {
  color: white;
  font-size: 12px;
  width: 44%;
  margin: 0px 0px 0px 10%;
  font-family: "Montserrat", sans-serif;
}

.dragão img {
  float: right;
  margin-top: -24%;
  margin-right: 9%;
  width: 43%;
}

.rei {
  width: 100%;
  height: 60vh;
  background: linear-gradient(
    to right,
    rgb(119, 119, 119) 0%,
    rgb(119, 119, 119) 66.58%,
    rgb(224, 224, 224) 50%,
    rgb(224, 224, 224) 100%
  );
}

.rei h1 {
  color: white;
  font-size: 70px;
  margin: 18% 0px 0px 10%;
  font-family: bebasneue;
  letter-spacing: 10px;
  text-shadow: 26px 22px 0px #2d4206;
}

.rei h3 {
  color: white;
  font-size: 12px;
  width: 44%;
  margin: 0px 0px 0px 10%;
  font-family: "Montserrat", sans-serif;
}

.rei img {
  float: right;
  margin-top: -24%;
  margin-right: 9%;
  width: 43%;
}

.personagens2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  position: fixed;
  margin: 97px 0px 0px 0px;
  gap: 40px;
}

.miniatura img {
  width: 110px;
  height: 60px;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.75);
  margin-right: -10px;
}

.miniatura:hover img {
  transform: scale(1.1);
}

.miniatura:hover {
  box-shadow: 4px 4px 24px;
}

.fundo1 {
  width: 60%;
  opacity: 0.3;
  display: block;
  margin: 10px 15% 0px 20%;
  filter: blur(4px);
  position: absolute;
  z-index: -3;
}

.flex3 {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20% 0px 20%;
  justify-content: center;
  gap: 50px;
  margin-bottom: 26px;
}

.flex3 img {
  object-fit: contain;
  width: 200px;
  transition: transform 0.2s;
}

.flex3 img:hover {
  transform: scale(1.3);
}

.flex3 a {
  display: flex;
  align-items: center;
}
@font-face {
  font-family: bebasneue;
  src: url(BebasNeue-Regular.ttf);
}

@font-face {
  font-family: trajan;
  src: url(TrajanPro-Regular.ttf);
}
